:root {
    --main-padding-mobile: 7%;
    --box-padding-mobile: 5%;
    --main-padding-desktop: 7%;
    --box-padding-desktop: 5%;
    --line-width: 2px;
}

body,ul{
    margin: 0;
}

img{
    width: 100%;
    display: flex;
    object-fit: cover;
}

h1, h2, h3{
    font-family:'Times New Roman', Times, serif;
}

p, ul{
    font-family:Arial, Helvetica, sans-serif;
}

#icon{
    border-radius: 100px;
    border-style: solid;
    border-color: black;
}

.content_image{
        border-radius: 10px;
        border-style: solid;
        border-color: black;
}


/* MOBILE */ 
@media screen and (max-width: 500px){
    body{
        background-color: white; 
        color:black    
    }
    #about, #section1, #section2, #section3, #footer{
        padding: var(--main-padding-mobile);
    }
    #about, #section1, #box1, #box2, #text1, #text2, #text3, #text4, #footer{
        background-color: aqua;
        padding: var(--box-padding-mobile)
    }

    #nav, #profile_picture, #section1, #section2, #section3{
        border-bottom: var(--line-width) solid black;
    }

    .menu{
        height: 100vh;
        width: 60vw;
        background-color: white;
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        border-right: 1px solid black;
        padding: 2%;
    }
    .menu-button{
        cursor: pointer;
        display: inline;
        font-size:10px;
    }

    .menu-button-menu{
        cursor: pointer;
        display: inline;
        font-size:10px; 
    }

    .menu-button i.material-icons{
        font-size: 12vw;
    }
    
    .menu-button-menu i.material-icons{
        font-size: 12vw;
    }

    .show{
        left: 0;
    }

    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        z-index: 5;
    }
    .fade-layer.visible{
        display: block;
    }

    #nav{
        display: flex;
        justify-content: space-between;
        padding: 1%;
    }

    #navs {
        padding-left: 1%;
        padding-top: 15%;
        line-height: 2rem;
    }

    a {
        text-decoration: none;
        color: black
    }

    #icon{
        width: 12vw;
        height: 12vw;
    }


    #projects_title{
        display: flex;
        justify-content: center;
    }
}



/* DESKTOP */
@media screen and (min-width:501px){
    body{
        background-color: white;
        color:black;
   
    }

    .wrapper{
        
    }

    .menu-button{
        display: none;   
    }
    
    .menu-button-menu{
        display: none;
    }

    #about, #section1, #section2, #section3, #footer{
        padding: var(--main-padding-desktop);
    }
    #about, #section1, #box1, #box2, #text1, #text2, #text3, #text4, #footer{
        background-color: aqua;
        padding: var(--box-padding-desktop)
    }

    #nav, #upper_portion, #section1, #section2, #section3{
        border-bottom: var(--line-width) solid black;
    }

    #nav{
        display: grid;
        grid-template-areas: "nv ic";
        padding: 1%;
        align-items: center;
    }

    #navs{
        display: flex;
        justify-content: space-evenly;
        grid-area: nv;
    }

    #icon{
        width: 6vw;
        height: 6vw;
        margin-left: auto;
        grid-area: ic;
    }

    a{
        text-decoration: none;
        color: black;
    }

    #upper_portion{
        display: grid;
        grid-template-areas: 
        "ab prp";
        grid-template-columns: 1fr 1fr;
    }

    #about{
        grid-area: ab;
    }

    #profile_picture{
        grid-area: prp;
        border-left: var(--line-width) solid black;
    }

    #section1{
        display: grid;
        grid-template-areas: 
        "s1img txt";
        grid-template-columns: 1fr 2fr;
    }

    #section1_image{
        grid-area: s1img;
        object-fit: cover;
        height: 100%;
        width:100%;
    }

    #text{
        grid-area: txt;
        padding: var(--box-padding-desktop);
    }

    #projects_title{
        display: flex;
        justify-content: center;
    }

    .box h3{
        grid-area: h3;
        padding: var(--box-padding-desktop)
    }

    .box p{
        grid-area: p;
        padding: var(--box-padding-desktop)
    }

    .box img{
        grid-area: img;
    }

    #box1{
        display: grid;
        grid-template-areas: 
        "h3 img"
        "p img";
        grid-template-columns: 3fr 2fr;
    }

    #box2{
        display: grid;
        grid-template-areas: 
        "img h3"
        "img p";
        grid-template-columns: 2fr 3fr;
    }

    #section3{
        display: grid;
        grid-template-areas: 
        "t1 t2"
        "t3 t4";
    }

    #text1{
        grid-area: t1;
    }

    #text2{
        grid-area: t2;
    }

    #text3{
        grid-area: t3;
    }

    #text4{
        grid-area: t4;
    }
}