:root {
    --main-padding-mobile: 7%;
    --box-padding-mobile: 5%;
    --main-padding-desktop: 7%;
    --box-padding-desktop: 5%;
    --line-height: 2px;
    --main-color: rgb(0, 0, 50);
    --secondary-color: rgb(200, 210, 230);
}

body,ul{
    margin: 0;
}

img{
    width: 100%;
    display: flex;
    object-fit: cover;
}

h1, h2, h3{
    font-family:'Times New Roman', Times, serif;
}

p, ul{
    font-family:Arial, Helvetica, sans-serif;
}

#icon{
    border-radius: 100px;
    border-style: solid;
    border-color: black;
}

.content_image{
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

hr{
    height: 1px;
    border-color: var(--secondary-color);
    color:var(--secondary-color);
    background-color: var(--secondary-color);
    margin: 0px;
    align-self: center;
}

#footer{
    border-top: var(--line-height) solid black;
}


/* MOBILE */ 
@media screen and (max-width: 500px){
    body{
        background-color: var(--main-color); 
        color:var(--secondary-color);    
    }

    .name{
        justify-self: center;
    }

    #about, #section1_om_mig, #section2, #section3, #footer{
        padding: var(--main-padding-mobile);
    }
    #about, #section1_om_mig, #box1, #box2, #text1, #text2, #text3, #text4, #footer{
        padding: var(--box-padding-mobile)
    }

    #footer{
        background-color: var(--secondary-color);
        color:var(--main-color);
    }

    #profile_picture_om_mig{
        border: var(--line-height) solid black;
        width: 50%;
        justify-self: center;
        border-radius: 15px;
        margin-top: 10%;
    }

    .menu{
        height: 100vh;
        width: 60vw;
        background-color: var(--secondary-color);
        position: fixed;
        top: 0;
        left: -90vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        border-right: 1px solid black;
        padding: 2%;
    }

    .menu-button{
        cursor: pointer;
        display: inline;
        font-size:10px;
        color:black;
    }

    .menu-button-menu{
        cursor: pointer;
        display: inline;
        font-size:10px; 
        color:black
    }

    .menu-button i.material-icons{
        font-size: 12vw;
    }
    
    .menu-button-menu i.material-icons{
        font-size: 12vw;
    }

    .show{
        left: 0;
    }

    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        z-index: 5;
    }
    .fade-layer.visible{
        display: block;
    }

    #nav{
        display: flex;
        justify-content: space-between;
        padding: 1%;
        border-bottom: var(--line-height) solid black;
        background-color: var(--secondary-color);
    }

    #navs {
        padding-left: 1%;
        padding-top: 15%;
        line-height: 2rem;
    }

    a {
        text-decoration: none;
        color: black
    }

    #icon{
        width: 12vw;
        height: 12vw;
    }


    #projects_title{
        display: flex;
        justify-content: center;
    }

    .project{
        padding: var(--main-padding-mobile);
    }

    #my_projects_title{
        justify-self: center;
    }

    .project_title{
        justify-self: center;
    }
    .project_text{
        display:flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    #section1{
        padding: var(--box-padding-mobile);
    }

    #section1_image{
        display: none;
    }
}



/* DESKTOP */
@media screen and (min-width:501px){
    body{
        color:var(--secondary-color);
        background-color: var(--main-color);
    }

    .menu-button{
        display: none;   
    }
    
    .menu-button-menu{
        display: none;
    }

    #about, #section1, #section2, #section3, #footer{
        padding: var(--main-padding-desktop);
    }
    #about, #section1, #box1, #box2, #text1, #text2, #text3, #text4, #footer{
        padding: var(--box-padding-desktop)
    }

    #nav, #upper_portion, #section1, #section2, #section3{
        border-bottom: var(--line-width) solid black;
    }

    #nav{
        display: grid;
        grid-template-areas: "nv ic";
        padding: 1%;
        align-items: center;
        border-bottom: var(--line-height) solid black;
        background-color: var(--secondary-color);
    }

    #navs{
        display: flex;
        justify-content: space-evenly;
        grid-area: nv;
    }

    #icon{
        width: 6vw;
        height: 6vw;
        margin-left: auto;
        grid-area: ic;
    }

    a{
        text-decoration: none;
        color: black;
    }

    #footer{
        background-color: var(--secondary-color);
        color:black
    }

    #upper_portion{
        display: grid;
        grid-template-areas: 
        "ab prp";
        grid-template-columns: 1fr 1fr;
    }

    #about{
        grid-area: ab;
    }

    #profile_picture_hem{
        grid-area: prp;
    }

    #section1{
        display: grid;
        grid-template-areas: 
        "s1img txt";
        grid-template-columns: 1fr 2fr;
    }

    #section1_image{
        grid-area: s1img;
        object-fit: cover;
        height: 100%;
        width:100%;
    }

    .text{
        grid-area: txt;
        padding: var(--box-padding-desktop);
    }

    #projects_title{
        display: flex;
        justify-content: center;
    }

    .box h3{
        grid-area: h3;
        padding: var(--box-padding-desktop)
    }

    .box p{
        grid-area: p;
        padding: var(--box-padding-desktop)
    }

    .box img{
        grid-area: img;
    }

    #box1{
        display: grid;
        grid-template-areas: 
        "h3 img"
        "p img";
        grid-template-columns: 3fr 2fr;
    }

    #box2{
        display: grid;
        grid-template-areas: 
        "img h3"
        "img p";
        grid-template-columns: 2fr 3fr;
    }

    #section3{
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .content_image{
        margin:auto;
    }

    #my_projects_title{
        justify-self: center;
    }

    #section1_om_mig{
        padding-left: var(--main-padding-desktop);
        padding-right: var(--main-padding-desktop);
    }

    .project{
        padding: var(--main-padding-desktop);
    }

    #projects_container{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }


    #upper_portion_om_mig{
        display: grid;
        grid-template-areas: 
        "namn ppom";
        padding: var(--box-padding-desktop);
        grid-template-columns: 1fr 1fr;
    }
    
    #profile_picture_om_mig{
        border-radius: 15px;
        grid-area: ppom;
        border: var(--line-height) solid black;
    }

    #om_mig_namn{
        grid-area: namn;
        align-self: center;
        padding: var(--box-padding-desktop);
    }

    .project_title{
        justify-self: center;
        padding-top: var(--main-padding-desktop);
    }

    .project_text{
        display:flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-top: var(--box-padding-desktop);
    }
}